ansible==3.0.0
ansible-base==2.10.17
blinker==1.3
chardet==2.3.0
colorama==0.4.4
command-not-found==0.3
configobj==5.0.6
crcmod==1.7
httplib2==0.9.1
idna==2.0
Jinja2==2.8
jmespath==1.0.0
jsonpatch==1.10
jsonpointer==1.9
language-selector==0.1
MarkupSafe==0.23
oauthlib==1.0.3
packaging==21.3
ply==3.7
pyasn1==0.1.9
pycurl==7.43.0
PyGObject==3.20.0
PyJWT==1.3.0
pyparsing==3.0.9
pyserial==3.0.1
python-apt==1.1.0b1+ubuntu0.16.4.12
python-dateutil==2.8.2
PyYAML==3.11
# requests==2.9.1
# rsa==4.7.2
# six==1.10.0
# unattended-upgrades==0.1
# urllib3==1.26.4
# wheel==0.29.0
virtualenv==16.0.0
#boto==2.49.0
#boto3==1.21.21
#botocore==1.24.44
#ufw==0.35
#s3transfer==0.5.2
#setuptools==49.2.1
#pip==22.0.4
#cloud-init==21.1
#cryptography==1.2.3
#docutils==0.16
#python-debian==0.1.27
#python-systemd==231
# ssh-import-id==5.5